/* CSS for ScormXBlock */

#scorm_container .scorm_object {
  flex: 0 0 100%;
  width: 100%;
  height: 675px;
  border: none;
}

#scorm_container .fullscreen {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
